<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860547245671-jd5s0omljhglufa8gencp8s45rqkosof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860547245671-jd5s0omljhglufa8gencp8s45rqkosof</string>
	<key>API_KEY</key>
	<string>AIzaSyC-SRPQ8H1Y_80urKyMX6GZqB2mv0na5ck</string>
	<key>GCM_SENDER_ID</key>
	<string>860547245671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sliverAppbar</string>
	<key>PROJECT_ID</key>
	<string>kagura1-91899</string>
	<key>STORAGE_BUCKET</key>
	<string>kagura1-91899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860547245671:ios:077dbef7fe53c61a00d6c2</string>
</dict>
</plist>